
.always-sticky {
    position: fixed;
    width: 100%;
    z-index: 1000;
    transition: all 0.5s ease-in-out;
    top: 0;
}

.dumb {
    width: 100%;
    height: 50px;
}

.navbar-brand > img {
    max-height: 46px;
}

.navbar-nav > li > a {
    padding-top: 18px;
    padding-bottom: 18px;
}

.hidden {
    display: none;
}

.btn {
    padding: 10px 15px;
}


.slider-html-thumb-cont {
    position: absolute;
    width: 100%;
    bottom: 0;
}

.slider-html-thumb-row > div {
    padding: 10px;
}

.slider-html-thumb {
    background: #00aaff;
    color: #FFF;
    height: 200px;
    opacity: .6;
    transition: all .3s ease-in-out;
    padding: 10px;
    position: relative;
    overflow: hidden;
}

.slider-html-thumb :before {
    width: 0;
    height: 0;
    top: 0;
    left: 0;
    content: '';
    position: absolute;
    z-index: 1;
    transition: all 0.4s ease-out 0s;
    background: rgba(255,255,255,0.1);
}
.slider-html-thumb :after {
    width: 0;
    height: 0;
    bottom: 0;
    right: 0;
    content: '';
    position: absolute;
    z-index: 1;
    transition: all 0.4s ease-out 0s;
    background: rgba(255,255,255,0.1);
}

.slider-html-thumb * {
    color: #FFF;
    transition: all 0.4s ease-out 0s;
}

.slider-html-thumb:hover {
    color: #000;
    opacity: 1;
}

.slider-html-thumb:hover * {
    color: #000;
}

.slider-html-thumb:hover :before {
    width: 100%;
    height: 100%;
}
.slider-html-thumb:hover :after {
    width: 100%;
    height: 100%;
}

.icon-cart {
    position: relative;
}

.navbar-header {
    float: left;
}

.navbar-tail {
    float: right;
    width: 380px;
    min-height: 50px;
    /*border: 1px solid red;*/
}

.navbar-tail button {
    float: right;
}

.navbar-collapse {
    width: 100%;
}

.nav > li.dropdown.fullwidth {
    position: static;
}

.navbar-nav > li.dropdown.fullwidth > .dropdown-menu {
    width: 100%;
    -webkit-box-shadow: 0px 7px 11px -4px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 7px 11px -4px rgba(0,0,0,0.75);
    box-shadow: 0px 7px 11px -4px rgba(0,0,0,0.75);
    overflow: hidden;
}

li.dropdown.fullwidth .dropdown-inner {
    width: 100%;
    display: block;
    position: relative;
    overflow: hidden;
    transition: all .3s ease-in-out;
}

li.dropdown.fullwidth .menu-left {
    position: fixed;
    width: 50px;
    height: 50px;
    border-radius: 25px;
    background-color: rgba(255,255,255,0.3);
    left: 10px;
    top: 100px;
    cursor: pointer;
    z-index: 1001;
}
li.dropdown.fullwidth .menu-left i.material-icons {
    font-size: 50px;
}

li.dropdown.fullwidth .menu-right {
    position: fixed;
    font-size: 50px;
    width: 50px;
    height: 50px;
    border-radius: 25px;
    background-color: rgba(255,255,255,0.3);
    right: 10px;
    top: 100px;
    cursor: pointer;
    z-index: 1001;
}
li.dropdown.fullwidth .menu-right i.material-icons {
    font-size: 50px;
}


li.dropdown.fullwidth .dropdown-inner > ul.flex {
    min-height: 100px;
    display: flex !important;
    width: 100%;
    padding: 0 10px;
    align-items: stretch;
    justify-content: flex-start;
}

.navbar ul li ul li {
    margin: 5px;
}

li.dropdown.fullwidth .dropdown-inner > ul > li > a {
    height: 250px;
    min-width: 100px;
    width: 120px;
    padding: 10px;
    position: relative;
    color: black;
    background: #FFF0F0;
    background-position: center;
    background-size: auto 250px;
    transition: all .3s ease-in-out;
}
li.dropdown.fullwidth .dropdown-inner > ul > li > a:before {
    content: '';
    background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    width: 100%;
    height: 50%;
}
li.dropdown.fullwidth .dropdown-inner > ul > li > a span {
    z-index: 2;
    position: relative;
}

li.dropdown.fullwidth .dropdown-inner > ul > li > a:hover {
    background-size: auto 270px;
}
li.dropdown.fullwidth .dropdown-inner > ul > li > a span {
    color: black;
    display: inline;
    opacity: 1;

}

.fillend {
    flex-grow: 10;
}

.navbar .sub-dropdown-menu {
    display: none !important;
}



.header-right-menu {
    float: right;
    display: flex;
    justify-content: flex-end;
}

.header-phone {
    font-size: 24px;
    margin-top: -5px;
}

.bold {
    font-weight: 600;
}

.btn-info {
    color: #46b8da;
}




.anifly {
    position: absolute;
    width: 100px;
    height: 100px;
    background: #000000;
    z-index: 2000;
    opacity: 1;
}



.console {
    position: absolute;
    z-index: 10000;
    left: 1600px;
    top: 100px;
    width: 1200px;
    height: 600px;
    border: 1px solid blue;
    background: #e6ffff;
    color: black;
    opacity: .5;
    transition: all .3s ease-in-out;
    overflow-y: scroll;
}
.console:hover {
    left: 200px;
    opacity: 1;
}



.sidebar {
    padding: 25px;
}
.sidebar > .inner {
    padding: 30px !important;
}

.sidebar > .inner h2 {
    text-align: center;
    margin-top: 5px;
    margin-bottom: 20px;
    font-weight: normal;
}


.sidebar-cart {
    display: flex;
    flex-direction: column;
    overflow-y: hidden;
}

.sidebar #sidebar-cart.inner {
    padding: 10px 30px !important;
    overflow: auto;
}
.sidebar #sidebar-cart.inner::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
}
.sidebar #sidebar-cart.inner::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0,0,0,.5);
    -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}

.sidebar .fields-group {
    margin-bottom: 25px;
}

.sidebar .btn {
    padding: 10px 15px;
}


.slider-html-thumb-row > div {
    display: none;
}

.c1 .slider-html-thumb-row [class*='slide1'] {
    display: block;
}

.c2 .slider-html-thumb-row [class*='slide2'] {
    display: block;
}

.c3 .slider-html-thumb-row [class*='slide3'] {
    display: block;
}

.c4 .slider-html-thumb-row [class*='slide4'] {
    display: block;
}

.c5 .slider-html-thumb-row [class*='slide5'] {
    display: block;
}

.c6 .slider-html-thumb-row [class*='slide6'] {
    display: block;
}

.c7 .slider-html-thumb-row [class*='slide7'] {
    display: block;
}

.c8 .slider-html-thumb-row [class*='slide8'] {
    display: block;
}

.c9 .slider-html-thumb-row [class*='slide9'] {
    display: block;
}

.c10 .slider-html-thumb-row [class*='slide10'] {
    display: block;
}


#search .form-control:focus {
    box-shadow: none;
    border-top-color: rgba(185, 193, 199, 0.6);
    border-left-color: rgba(185, 193, 199, 0.6);
}

.sidebar {
    transition: all .5s cubic-bezier(0.785, 0.135, 0.15, 0.86) !important;
}

.sidebar.open {
    -webkit-box-shadow: -4px 0px 13px -3px rgba(0,0,0,0.75);
    -moz-box-shadow: -4px 0px 13px -3px rgba(0,0,0,0.75);
    box-shadow: -4px 0px 13px -3px rgba(0,0,0,0.75);
}

@keyframes example {
    from {
        opacity: 0;
        margin-left: 30px;
    }
    to {
        opacity: 1;
        margin-left: 0;
    }
}

.sidebar-search #live-search ul li {
    opacity: 0;
    display: block;
    padding: 10px;
    margin-left: 30px;
    animation-name: example;
    animation-duration: .3s;
    animation-fill-mode: forwards;
}

.sidebar-search #live-search ul li:nth-child(1) {
    animation-delay: 0s;
}
.sidebar-search #live-search ul li:nth-child(2) {
    animation-delay: .1s;
}
.sidebar-search #live-search ul li:nth-child(3) {
    animation-delay: .2s;
}
.sidebar-search #live-search ul li:nth-child(4) {
    animation-delay: .3s;
}
.sidebar-search #live-search ul li:nth-child(5) {
    animation-delay: .4s;
}
.sidebar-search #live-search ul li:nth-child(6) {
    animation-delay: .5s;
}
.sidebar-search #live-search ul li:nth-child(7) {
    animation-delay: .6s;
}
.sidebar-search #live-search ul li:nth-child(8) {
    animation-delay: .7s;
}
.sidebar-search #live-search ul li:nth-child(9) {
    animation-delay: .8s;
}
.sidebar-search #live-search ul li:nth-child(10) {
    animation-delay: .9s;
}

.sidebar-search #live-search ul li a {
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 2px solid white;
    transition: all .3s ease-in-out;
}
.sidebar-search #live-search ul li a:hover {
    border: 2px solid black;
}

.sidebar-search #live-search ul li a .product-image {
    margin: 5px 10px;
}

.sidebar-search #live-search .product-image img {
    max-width: 80px;
    max-height: 80px;
}

.sidebar-search #live-search ul li a .product-desc {
    flex-grow: 5;
}

.sidebar-search #live-search ul li .product-name {
    width: 100%;
    float: none;
    font-weight: normal;
    font-size: 12px;
}

.sidebar-search #live-search ul li .product-price {
    width: 100%;
    float: none;
    text-align: left;
    font-weight: normal;
    font-size: 16px;
}


ul.sidebar_cart {
    margin: 0;
    padding: 0;
    text-indent: 0;
}

ul.sidebar_cart li.cart_line {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    padding: 10px;
    border: 2px solid white;
    opacity: 1;
    margin-top: 0;
    transition: all .3s ease-in-out;
}
ul.sidebar_cart li.cart_line:hover {
    border: 2px solid black;
}
ul.sidebar_cart li.cart_line.del {
    margin-top: -100px;
    opacity: 0;
}
ul.sidebar_cart li.cart_line .cart_image {
    margin: 5px 10px;
    max-height: 80px;
    width: 80px;
    flex: 0 0 auto;
    overflow: hidden;
}
ul.sidebar_cart li.cart_line .cart_image img {
    width: 80px;
    height: auto;
}
ul.sidebar_cart li.cart_line .cart_desc {
    flex-grow: 5;
}
ul.sidebar_cart li.cart_line .cart_desc .name {
    width: 100%;
    font-size: 12px;
}
ul.sidebar_cart li.cart_line .cart_desc small {
    width: 100%;
    font-size: 70%;
    font-weight: bold;
}

ul.sidebar_cart li.cart_line .cart_desc .price-change {
    display: flex;
    flex-direction: row;
    align-items: center;
}
ul.sidebar_cart li.cart_line .cart_desc .price-change > * {
    font-size: 16px;
    margin-top: 10px;
    margin-right: 10px;
}
ul.sidebar_cart li.cart_line .cart_desc .price-change > .price {
    flex-grow: 10;
}
ul.sidebar_cart li.cart_line .cart_desc .price-change > .mid {
    padding-top: 5px;
    line-height: 15px;
    font-size: 30px;
}
ul.sidebar_cart li.cart_line .cart_desc .price-change > .form-control {
    width: auto;
    height: auto;
    font-size: 16px;
    margin-top: 10px;
    padding: 3px 6px;
}


ul.sidebar_cart li.cart_line .cart_delete {
    cursor: pointer;
}

.cart-footer {
    display: flex;
    flex-direction: row;
}


.empty_cart {
    text-align: center;
    font-size: 16px;
}


.cart-buttons {
    flex-grow: 5;
}

.cart-info {
    padding: 20px;
}

.cart-info #cart-sum {
    font-size: 24px;
}